*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
  
  :root {
    --col-primary: #b10400;
    --col-grey: #181818;
    --col-grey-dark: #333;
    --col-black: #000;
    --col-black-light: #222;
    --col-white: #fff;
  }
  
  body {
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--col-black-light);
    background-color: whitesmoke;
  }

  .hearder{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    align-items: center;
    border-bottom: 5px dotted orange;
    background-color: #f2f2f2;
    margin-top: 10px;
  }
  .hearder_title{
    font-size: 3.5rem;
    color: var(--col-primary);
  }
  .nav_list{
    list-style: none;
    display: flex;
  }
  .nav_list_item{
    padding: 2rem;
    transition: all .8s ease;


  }
  .nav_list_item:hover{
    background-color: cyan;
   transform: rotate(360deg);
    
  }
.nav_list_item a {
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--col-grey-dark);
  font-weight:bold;
}
.nav_list_item:hover a{
  color: white;

}
.home{
  background: linear-gradient( rgba( 0 , 0 , 0 , .5),  rgba( 0 , 0 , 0 , .5 )), url(/sos_web_starter-main/media/images/breakfast.jpg);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.title{
  font-size: 5rem;
  color:var(--col-white);
  text-transform: capitalize;
  font-size: 5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2.5rem;

}

.home__button{
  text-decoration: none;
  color:var(--col-white);
  border: 2px solid var(--col-white);
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
}
.home__button:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
  transform: rotate(360deg);
}
.button-group>:first-child{
  background-color: var(--col-primary);
  border: 2px solid var(--col-primary);

}
.textbox{
  transform: rotate(-5deg);
}
.display-box{
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  align-items: center;
  display: inline-flex;
  margin-right: 2rem;

} 

.display-box-name{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  margin-top: 1rem;
}

.marquee_img{
  vertical-align:middle ;
  border-radius: 50%;
  border: 5px solid var(--col-primary);
  width: 200px;
  height: 200px;
  justify-content: space-around;
  padding: 1px;
  background-color: var(--col-primary);
  
}
.marquee_img:hover{
  transform: scale(0.9);
  transition: 1s ease;
}

.menu_bar{
  text-align: center;
}

.card{
  box-shadow: 0 4px 8px 0 rgba( 0 , 0 , 0 , .5);
  transform: scale(0.9); 
  text-align: center;
  background-color: #f1f1f1f1;
  display: inline-block;
  transition:all 1.2s ease;
  width: 35rem;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2px;
  padding: 1rem;
}
.card:hover .img_steak{
  /* transform: scale(1.1);  */
  scale: 1.1;
  transition: 1.5s ease;
   
}
 .card:hover{
  /* color: whitesmoke; */
  /* background-color: black; */
  /* border: 4px solid black; */
  box-shadow: 2px 5px 5px green;
  border-radius: 15px;
  /* scale: 1.1; */
}

.img_steak{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 50px ;
  border-radius: 15px;
  border: 4px solid black;
  border-bottom-right-radius: 50px ;
}
.img_steak:hover{
  transition: 1.5s ease;
}
.container{
  display: flex;
  justify-content: center;
}
.order {
  text-decoration: none;
  justify-content: space-around;
  letter-spacing: 2px;

}
.ordernow {
  background-color: red;
text-align:center;
height: 8vh;
padding: 15px 20px;
border-radius: 30px;
margin: 20px 20%;
width: 15vw;  
}

.members-title ,.what-our-customers-say-title{
  width: fit-content;
  margin: 15px auto;
  text-transform: uppercase;
  font-family: cursive;
  color: white;
  text-shadow: 4px 4px 4px purple;
  font-size: 40px;
}

.menu-card-title{
  margin: 10px 0;
}

.team-members-master-container{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.team-members-card-container{
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 200px;
  flex-wrap: wrap;

}

.team-members-img-cnt{
 --size: 8rem;
 width: var(--size);
 height: var(--size);
}

.team-members-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
}

.team-member-name{
  text-transform: capitalize;
  color: purple;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.team-members-role{
  text-transform: capitalize;
  color: #b32d2b;
  font-size: 1.2rem;
}
.team-members-svg-container svg{
  --size: 3.0rem;
  width: var(--size);
  height: var(--size);
  margin: 1rem 0;
}


                                 /* what our customers say */

 
 .customers-say-master-ctn{
  display: flex;
  justify-content: space-evenly;
  
 } 
                                
.customers-say-card-ctn{
  width: 340px;
  background-color: white;
  border-radius: .8rem;
  box-shadow: 4px 4px 4px ;
    }                             
.customers-say-card-ctn svg{
  --size:2rem;
  height: var(--size);
  width: var(--size);
  fill: gold;
  margin: 1rem 1.2rem;
}

.customers-say-card-title {
  font-family: sans-serif;
  font-style: italic;
  font-size: 15.5px;
  text-transform: capitalize;
  color: rgb(133, 113, 113);
  margin: 0 2rem 0.5rem 1.2rem;
}

.customers-say-card-description{
  margin: 0 2rem 0.5rem 1.2rem;
  font-family: sans-serif;
  text-align: justify;
  color: #777;
  line-height: 1.5rem;
}

.customers-say-img-ctn{
  --size: 60px;
  width: var(--size);
  height: var(--size);

}

.customers-say-img-ctn img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.name-img-ctn{
  display: flex;
  justify-content: space-between;
  margin: 1.2rem;
  align-items: center;
}

.customers-say-name{
  /* margin: 1.2rem; */
  text-transform: capitalize;
}